* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body,
input {
  font-family: "Source Sans Pro", Asap, Gudea, Arimo, SF UI Text, sans-serif;
}

body {
  /*
  background-image: url('mapexample.png');
  background-size: cover;
  */
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  white-space: nowrap;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

  padding: 0px 40px;
}

.header-level {
  padding: 0px 20px;
  display: flex;
  align-content: center;

  padding: 0;
}

.header-left,
.header-right {
  display: inline-flex;
  align-content: center;
  align-items: center;
}

#header-upper {
  height: 30px;
  background: rgb(13, 149, 68);
  background: rgb(49, 86, 82);
  background: rgb(72, 149, 140);
  background: rgb(68, 171, 157);
  background: linear-gradient(45deg, rgb(68, 171, 157), rgb(13, 149, 68));
  color: white;

  opacity: 0;
}

#header-upper .header-block {
  height: 100%;
  display: inline-flex;
  margin: 0 auto;
}

#header-upper-left {
  align-items: center;
}

#header-upper h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#header-upper-right {
}

#header-bottom {
  height: 45px;
  /* border-bottom: 1px solid;
  border-color: #DCE7F7; */
  /* border: 1px solid #DCE7F7;
  border: 1px solid rgb(175, 186, 201); */
  background: white;
  /* background: linear-gradient(0deg,rgb(249, 251, 254), white); */
  justify-content: space-between;
  /* max-width: 900px; */

  border-radius: 3px;
  padding-left: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  max-width: 1200px;
}

#header-bottom .header-left {
  width: 100%;
}

#header-bottom .header-right {
  /* width: 380px; */
}

#header-bottom .header-title {
  margin-right: 20px;
  color: rgb(68, 171, 157);

  /* display: none; */
}

#header-bottom h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-header-search {
  height: 70%;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dce7f7;
  /* border: none; */
  background: #f7faff;
  background: white;
  padding-left: 10px;
  max-width: 300px;
  min-width: 150px;
  width: 70%;
  /* width: 300px; */
  font-size: 16px;
}

.main-header-search {
  border-radius: 0px;
  outline: none;
  border: 1px solid #dce7f7;
  border: none;
  /* border-right: 1px solid #DCE7F7; */

  background: #f7faff;
  background: white;
  padding-left: 10px;
  max-width: 100%;
  min-width: 150px;
  width: 100%;
  /* width: 300px; */
  font-size: 16px;
  /* height: 45px; */
  height: 100%;

  /* border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; */
}

.main-header-search::placeholder {
  color: #becde0;
}

.main-header-search::before {
  content: url("src-icons/search.svg");
}

.search-icon {
  height: 100%;
  min-width: 40px;
  background-image: url("src-icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid #dce7f7;
}

.main-header-search:focus {
  background: white;
  background: #f7faff;
  /* border: inset 1px solid #DCE7F7; */
  /* box-shadow: inset 0px 0px 0px 1px #DCE7F7;
  box-shadow: inset 0px 0px 0px 1px black;
  box-shadow: inset 0px 0px 0px 1px rgb(151, 166, 188); */
  padding-left: 15px;
  /* max-width: 400px; */
  color: #1977ba;
  font-weight: 700;
  /* font-size: 18px; */
}

.header-op {
  display: flex;
  justify-content: center;
  padding: 0px 15px;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.header-op p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.add-current-location {
  color: #1977ba;
  padding: 0px 25px 0px 15px;
  border-right: 1px solid #dce7f7;
  background: white;
}

.location-icon {
  fill: #1977ba;
  height: 20px;
  width: 20px;
  margin-right: 7px;
}
.location-icon svg {
  fill: #1977ba;
}

.add-filters,
.save-search {
  /* border-left: 1px solid #DCE7F7; */
}

.add-filters:hover,
.save-search:hover {
  box-shadow: inset 0px -2px black;
  background: #f7faff;
}

.save-search {
  /* padding-right: 0; */
}

#header-aux {
  height: 43px;
  background: white;
  border-bottom: 1px solid #dce7f7;
  border-bottom: 1px solid #28756a;
  background: #f7faff;
  background: #44ab9d;
  color: white;
  transform: translateY(-100%);
  z-index: -1;
  /* box-shadow: 0px 2px 10px rgba(220, 231, 247, 0.2);
  box-shadow: 0px 2px 12px rgba(0,0,0,0.05); */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px 20px 0px 20px;
  opacity: 0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);

  max-width: 1200px;
}

#header-aux h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 20px;
  color: black;
}

@keyframes joltDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  70% {
    transform: translateY(-3px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}

.header-aux-down {
  -moz-animation: joltDown 0.8s ease-in-out;
  animation: joltDown 0.4s ease-in-out;
  transform: translateY(0px) !important;
  opacity: 1 !important;
  margin-top: -3px;
}

/* @keyframes joltDownInit {
  0% {transform: translateY(-100%); opacity: 0; height: 40px;}
  50% {transform: translateY(-100%); opacity: 0; height: 40px;}
  85% {transform: translateY(-3px); opacity: 1; height: 60px;}
  100% {transform: translateY(-0px); }
} */

@keyframes joltDownInit {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  85% {
    transform: translateY(-3px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}

.header-aux-down-init {
  -moz-animation: joltDownInit 0.8s ease-in-out;
  animation: joltDownInit 0.8s ease-in-out;
  transform: translateY(-0px) !important;
  opacity: 1 !important;
  margin-top: -3px;
}

.filter-block {
  height: 70%;
  padding: 5px 15px;
  border: 1px solid #dce7f7;
  margin-right: 5px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: inline-flex;
  justify-content: space-between;
  color: black;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}

.filter-block:hover {
  background: white;
  color: black;
  border: 1px solid rgb(151, 166, 188);
  border: 1px solid white;
  transition: all 0.1s ease-in-out;
}

.filter-categ-icon {
  height: 15px;
  width: 15px;
  background-size: contain;
  margin-right: 7px;
  fill: white;
}
.filter-categ-icon svg {
  fill: white;
}

.filter-categ-icon:hover svg {
  fill: black;
}

.filter-block h5 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* .filter-block:before {
  content: '▾';
  margin: -3px 6px 0px 0px;
  font-family: 'Verdana', Verdana, sans-serif;
} */

@keyframes moveInUp {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(100%);
  }
  85% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.journey-prompt {
  background: black;
  background: #323640;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  animation: moveInUp 1s ease-in-out;
  cursor: pointer;
}

.journey-prompt:hover {
  background: #44ab9d;
  padding-bottom: 25px;
  height: 55px;
}

/* @keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(2px); }
  50% { opacity: 1; transform: translateY(-2px); }
  100% { opacity: 0; transform: translateY(2px); }
} */

@keyframes fadeInOut {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

.journey-prompt-arrow {
  position: absolute;
  width: 100%;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 28px;
  -moz-animation: fadeInOut 1s ease-in-out infinite;
  animation: fadeInOut 1s ease-in-out infinite;
}

.journey-prompt-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  widows: 100%;
}

/* .journey-prompt-text::after {
    content: url('src-icons/arrow.svg');
    top: 20px;
    transform: rotateZ(-90deg);
    position: absolute;
    margin: 0 auto;
} */

@media all and (max-width: 1050px) {
  #header {
    padding: 0px 30px;
  }
}

@media all and (max-width: 1010px) {
  #header-bottom {
    flex-direction: column;
    height: auto;
    padding-left: 0;
  }

  #header-bottom .header-left {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #dce7f7;
  }

  .add-filters,
  .save-search {
    width: 50%;
    border-left: 1px solid #dce7f7;
    height: 50%;
  }

  .search-icon {
    border-top-left-radius: 3px;
    border-left: none;
  }
  .add-current-location {
    border-top-right-radius: 3px;
    border-right: none;
  }

  .add-filters:hover,
  .save-search:hover {
    box-shadow: none;
    background: white;
  }

  #header-bottom .header-right {
    height: 40px;
    width: 100%;
  }

  #header-bottom .header-title {
    display: none;
  }

  .header-op {
    padding: 0px 15px;
  }

  .add-current-location {
    color: #1977ba;
    /* padding: 0px 0px 0px 10px;
    white-space: pre-wrap; */
  }

  .add-filters {
    border: none;
  }

  .header-left,
  .header-right {
    justify-content: center;
  }

  .main-header-search {
    max-width: 100%;
  }
}

@media all and (max-width: 600px) {
  #header {
    padding: 0px 15px;
  }

  #header-bottom {
  }

  #header-bottom .header-left {
    width: 100%;
    height: 50px;
    /* flex-direction: column; */
    /* padding: 10px 0; */
    border-bottom: 1px solid #dce7f7;
  }

  .main-header-search {
    width: 100%;
    /* margin: 5px auto 9px auto; */
  }

  .header-op {
    padding: 0px 10px;
  }

  .location-icon {
    margin-right: 3px;
  }

  .header-op p {
    letter-spacing: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }
}

/* ///////////////////////////////////////////// */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
